body {
  color: white;
  background-color: black;
}

ul {
  margin-top: 5px;
}

li {
  font-family: "Noto Sans JP", sans-serif;
}

img[data-type="default"] {
  height: 200px;
}
img[data-type="icon"] {
  height: 100px;
}
