body {
  color: white;
  background-color: black;
  padding-left: 50px;
}

a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: auto 50px auto 0;
}
a:hover {
  text-decoration: underline;
}

ul {
  margin-top: 5px;
}

li {
  font-family: "Noto Sans JP", sans-serif;
}

img[data-type="default"] {
  height: 200px;
}
img[data-type="icon"] {
  height: 100px;
}
img[data-type="small"] {
  height: 150px;
}
