.title-area {
  display: flex;
  justify-content: space-between;
}

.my-name {
  font-family: "Noto Sans JP", sans-serif;
}

.section-title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: large;
  font-weight: bold;
}

.main-area {
  display: flex;
}

.left-area {
  width: 55%;
}

.right-area {
  width: 45%;
  display: grid;
}
